.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
  margin-right: 10px;
}
